.Background{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #fff 33.33%, #98FEA3 0%);
}


.App {
    width: 60%;
    height: 70%;
    background-color: #FFF;
    border-radius: 10px;
    border: 0.1rem solid #EBEBEB;
    box-shadow: 10px 10px 50px 0px rgb(0,0,0,0.15);
}

.AddTask {
    display: flex;
    flex-wrap: 1;
    margin: 32px 32px 12px 32px;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    overflow: hidden;
    gap: 16px;
}

.InputTask {
    display: flex;
    height: 3rem;
    padding: 0 24px;
    background-color: #F0F0F0;
    border-radius: 10px;
    align-items: center;
    gap: 16px;
    flex-grow: 1;
}

.InputDate {
    display: flex;
    height: 3rem;
    padding: 0 24px 0 0px;
    background-color: #F0F0F0;
    border-radius: 10px;
    align-items: center;
    gap: 16px;
}

.dateAdd {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.InputTask input {
    flex-grow: 1;
    border: 0;
    background: transparent;
    outline: 0;
    font-size: medium;
    color: #515151;
}

.InputDate input {
    flex-grow: 1;
    border: 0;
    background: transparent;
    outline: 0;
    font-size: medium;
    color: #515151;
}

.addButton {
    margin-left: 16px;
    background: transparent;
    cursor: pointer;
    min-width: 32px;
}

.addButton:hover {
    fill: #3ccf4b;
    transform: scale(1.1);
    transition: 250ms;
}

/* PARTE DE BAIXO */
.ListTasks {
    display: flex;
    width: 100%;
    height: 70%;
    flex-direction: column;
    overflow-y: scroll;
    padding-top: 12px;
}

#mensagem {
    display: flex;
    min-height: 20px;
    color: #3ccf4b;
    margin-bottom: 16px;
    margin-left: 32px;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(194, 194, 194);
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(151, 151, 151);
  }

@media (max-width: 600px){
    .App {
        width: 80%;
        height: 85%;
    }

    .InputTask svg {
        display: none;
    }
}

@media (max-width: 1050px){
    .AddTask {
        display: flex;
        width: 100%;
        flex-wrap: 1;
        margin: 32px 32px 0px 32px;
        flex-direction: column;
        justify-content: baseline;
        align-items: baseline;
        gap: 12px;
        overflow: hidden;
    }

    .InputTask{
        display: flex;
        width: 100%;
    }

    .AddTask{
        display: flex;
        width: calc(100% - 64px);
        margin: 32px 32px 8px 32px;
    }

    .InputDate {
        display: flex;
        width: 100%;
    }

    .InputDate input {
        display: flex;
        width: 100%;
    }

    .dateAdd {
        display: flex;
        width: 100%;
        flex-direction: row;
    }

    #mensagem{
        display: flex;
        min-height: 20px;
        color: #3ccf4b;
        margin-bottom: 8px;
        margin-left: 32px;
        animation: scrollDown 250ms normal 0s;
    }

    .ListTasks{
        display: flex;
        width: 100%;
        height: 60%;
        flex-direction: column;
        overflow-y: scroll;
        padding-top: 12px;
    }
}


@keyframes scrollDown {
    from{
        transform: translateY(-50px);
    }
    to{
        transform: translateY(0px);
    }
}

::-webkit-datetime-edit { display: none; }
:focus::-webkit-datetime-edit { display: none; }